.header {
  display: flex;
  justify-content: space-between;
  margin: 2px;
  border-bottom: 1px solid grey;
  padding: 5px;
  margin-bottom: 0;
}
.logo {
  border-radius: 20%;
  width: 100px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 10px;
}
.card {
  width: 150px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 10px;
}
.card > img {
  width: 100%;
}
.card > p {
  color: chocolate;
}
.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}
